* {
	box-sizing: border-box;
}

main {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif sans-serif;
	height: 80vh;
	margin: -20px 0 0;
}
h1 {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 20px 20px 20px 20px;
    text-align: center;
}
.container {
	background-color: #002830;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 380px;
    max-height: 400px;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
    border: none;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 1px 0;
	width: 100%;
}

button {
	border-radius: 5px;
	border: 1px solid #334152;
	background-color: #334152;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin: 10px 0;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

