*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

html, body{
    font-family: Arial, Helvetica, sans-serif sans-serif;

}

nav{
    background:#D9E5EC;
    padding: 20px 10%;
}

ul{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.menu li{
    font-size: 16px;
    padding: 15px 10px;
}

.menu li a{
    display: block;
}

.button{
    border-bottom: 1px #009B91 solid;
}

.footercontainer {
    max-width: 1170px;
    margin: auto;
    padding-top: 20px;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 4rem;   
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}


.footer{
    background:#D9E5EC;
}

.footer-col .social-links{
    float: right;
    margin-left: 150px;
    background: #D9E5EC;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(17, 2, 2, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #D9E5EC;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #D9E5EC;

}

.footer-col ul li{
    float: left;
    margin-right: 15px;
    margin: 10px 10px 10px 10px;
    background: #D9E5EC;
}


/* Mobile Menu */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order: 1;
}
.item.button{
    order: 2;
}

.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active{
    display: block;
}

.toggle{
    cursor: pointer;
}

.bars{
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before,.bars::after{
    background: #999;
    content:"";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}
.bars::before{
    top:5px;
}
.bars::after{
    top:-5px;
}



/* Tablet Menu */

@media all and (min-width: 468px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        order: 2;
    }
    .button{
        border:0;
    }
    .button a{
        text-decoration: none;
        padding: 7px 15px;
        background:#009B91;
        border: 1px;
        border-radius: 50em;
    }
    .button a:hover{
        transition: all .25s;
    }
    .button a:hover{
        background: #006d6d;
        border-color: #005959;
    }
}

@media all and (min-width: 768px){

    .item{
        display: flex;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order:0;
    }
    .item{
        order: 1;
    }
    .button{
        order:2;
    }

    .menu li.button{
        padding-right: 0;
    }
}
