body {
    font-family: 'Roboto Condensed', sans-serif;
    margin:0;
    /* 
FARBEN:
Wooden Valley Grün: #002830
Text im header: white
Text hover: #006d6d
Text active: #006d6d
button im Login: #006d6d 
*/

}
h1 {
    padding: 8px;
    background: #002830;
    border-radius: 8px;
    margin: 0;
    font-size: 64px;
    font-family: 'Roboto Condensed', sans-serif;
}


h4 {
    padding: 32px;
    border-radius: 8px;
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    padding: 2px;
    border-radius: 8px;
    margin: 0;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    line-height: 1.5;
    
}

main {
    margin: 0 auto;  
}
 


a{
    text-decoration: none;
    color: rgb(7, 7, 7);
}

c{
    text-decoration: none;
    list-style: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}
/*Inputs*/

input,
textarea{
    height:32px;
    padding: 0 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: inset 5px 5px 18px -2px rgba(0,0,0,0.6)
}

input:focus,
textarea:focus{
    outline: none;
}
/*Banner*/

#banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/wald.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    background-image: no-repeat;
}


#banner2 {
    height: 100vh;
    background-image: url('img/wald.jpeg');
    background-size: cover;
    background-position: top center;
    position: relative;
}

#banner h3 {
    background: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
}

#searchbox{
    position: left;
    right: 0;
    top: 24px;
    width: 500px;
    pointer-events: none;
    z-index: 50;
    transition: 0.4s;
}

#searchbox input {
    height: 48px;
    width: 100%; 
}

/*Navigation*/

nav {
    height: 72px;
    background: #002830 /*#202125*/ ;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
}

nav a{
    padding: 0 32px;
    color: #eee;
    transition: 0.4s;
}

nav a:hover{
    text-decoration:none;
    color:#006d6d;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

.active {
    color:#006d6d
}

#logo-img {
    display: flex;
    height: 100%;
    background: #002830;
    padding: 0 0px;
    align-items: center;
    color: #002830;
    transition: .5s;  
}

#logo-img img {
    height: 70px;
}

#logo-img:hover {
    background: #002830;
}


#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: #eee;
    display: none;
    align-items: center;
}

/*Search Icon*/

#search-icon{
    color: white;
    padding: 0 32px;
    cursor: pointer;
    transition: .5s;
}

#search-icon:hover{
    color: #006d6d;
}

/*Slideout Menu*/

#slideout-menu{
    display: none;
    background: #002830 ;
    z-index: 100;
    position: fixed ;
    transition: 0.5s;
    margin-top: 72px;
    width: 100%;
    text-align: right;
    opacity: 0;
    pointer-events: none;
}

#slideout-menu ul{
    list-style: none;
    padding: 0 32px;
}

#slideout-menu ul li{
    padding: 8px;
}


#slideout-menu a{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: white;
}

#slideout-menu input{
    width: 85%;
    padding: 8px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    text-align: center;
}



/*Sections*/

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-heading{
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
}

.section-heading:hover{
    padding: 4px 48px;
    background: #002830;
    color: white;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.page-heading:hover{
    padding: 4px 48px;
    background: #002830;
    color: white;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

/* Section Project*/

#section-source p {
    padding: 8px;
    text-align: left;
}

#section-source a{
    margin: 8px;
    text-align: center;
}

/* Card */

.card-image{
    transition: 0.5s;
}

.card-image:hover{
    box-shadow: 0 10px 6px -6px #777;
}

#card .card-description {
    padding: 0 4px;
}

.card-meta-blogpost{
    color: #333;
    font-size: 14px;
    padding: 16px;
    font-family: 'Roboto Slab', sans-serif;
}

.card-meta-blogpost a{
    color: #333;
}

/* Button Read more */

.btn-mehrerfahren{
    padding: 8px 24px;
    border: 3px solid black;
    transition: 0.5s;
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
    background: white;
}

.btn-mehrerfahren:hover{
    background: #002830;
    text-decoration: none;
    padding: 8px 64px 8px 24px;
    color: white;
}

/* Footer */

footer{
    background: #002830;
    padding: 8px;
    color: #eee;
    display: flex;
}

footer a{
    color: white;
}

footer #left-footer{
    flex:1;
    border-right: 3px solid rgb(69, 112, 114);
    padding-left: 32px;
}

footer #left-footer h3{
    color:rgb(69, 112, 114);
}

footer #left-footer ul{
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

footer #right-footer{
    flex: 2;
    padding: 8px;
    text-align: center;
}

footer #right-footer h3{
    color:rgb(69, 112, 114);
}

/*footer #right-footer p{
    color:rgb(69, 112, 114);
}*/

footer #social-mediafooter a .fa-instagram,
footer #social-mediafooter a .fa-youtube,
footer #social-mediafooter a .fa-linkedin{
    color: white;
    transition: 0.5s;
}

footer #social-media-footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

footer #social-media-footer ul li{
    font-size: 48px;
    padding: 16px;
    transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-youtube{
    color: #c4302b;
}

footer #social-media-footer ul li:hover a  .fa-instagram{
    color: #833ab4;
}

footer #social-media-footer ul li:hover a .fa-linkedin{
    color: #0e76a8;
}

/* Über das Projekt Page */

.page-heading{
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.5s;
    display: inline-block;
    padding: 4px 32px;
    margin-top: 120px;
}

.page-heading:hover{
    padding: 4px 48px;
    background: #002830;
    color: white;
    border-left: 3px solid white;
    border-right: 3px solid white; 
}

.card-meta{
    color: #333;
    font-size: 14px;
    padding-left: 8px;
    font-family: 'Roboto Slab', serif;
} 

.card-meta a{
    color: #333;
}

/* Pagination */
.pagination{
    padding: 8py;
    text-align: center;
    font-weight: bold;
}

.pagination a{
    border-top: 3px solid white;
    display: inline-block;
    padding: 8px 16px;
    transition: 0.5s;
}

.pagination a:hover{
    text-decoration: none;
    border-top: 3px solid black;
}

/* Single Blogpost */

#post-container{
    display: flex;
}

#blogpost{
    display: flex;
    flex-direction: column;
    width: 70%;
    border-left: 1px solid white;
}

#blogpost .card{
    width: 100%;
}

#blogpost .card-image:hover{
    box-shadow: none;
}

/* Sidebar */

#sidebar{
    background: #333;
    flex: 1;
    padding: 8px 16px;
    color: white;
    box-shadow: inset 27px 0 51px -18px rgba(0,0,0,0.75);
}

aside a{
    color: white;
}


/* Comments Section */

#comments-section{
    border-top: 2px solid #eee;
    padding: 8px;
}

/* Media Queries */

@media (max-width: 900px){
    nav ul{
        display: none;
    }

    #menu-icon {
        display: flex;
    }

    #slideout-menu{
        display: block;
    }

    #searchbox {
        display: none;
    }

    #blogpost{
        width: 100%;
        border-left: 0;
    }

    #sidebar{
        display: none;
    }
}

@media (max-width: 719px){
    main{
        width: 95%;
    }
    section{
        flex-direction: column;
    }
    .section-image img{
        width: 100%;
    }
    .card,
    .card .card-image img{
        width: 100%;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
    footer #left-footer{
        flex: 1;
        border-right: 0;
        border-left: 0;
    }
    footer #right-footer {
        background: #eee;
        color: black;
    }
    footer #right-footer a{
        color: black;
    }
    footer #social-media-footer a .fa-facebook,
    footer #social-media-footer a .fa-youtube,
    footer #social-media-footer a .fa-linkedin{
        color: black;
        transition: 0.5s;
    }
}

@media (max-width: 600px){
    main{
        width: 95%;
    }
    h1{
        font-size: 48px;
    }
    #banner h3{
        font-size: 20px;
    }
    #card{
        text-align: center;
    }
    #logo-img{
        padding:0;
    }
}

@media(min-width:720px) {
  main {
    width:95%
  }
  .card {
    width:35%
  }
  .card .card-image img {
    width: 100%;
  }
  .section-image img {
    width: 100%;
  }
}

@media(min-width: 1200px){
    main{
        width: 95%;

    }
}