.neuesTinyhouse {
    display: block;
    margin-left: 10px;
    margin-right: 1200px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
    background-color: #002830;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

.neuesTinyhouse:hover {
    text-decoration: none;
    font-weight: bold;
}

.button1 {
	border-radius: 5px;
	border: 1px solid #002830;
	background-color: #002830;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin: 10px 0;
	cursor: pointer;
    margin-right: 5px;
}
.button2 {
	border-radius: 5px;
	border: 1px solid #53292a;
	background-color: #53292a;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin: 10px 0;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
}

.content-table thead tr {
    background-color: #D9E5EC;
    color: black;
    text-align: left;
    font-size: 1rem;
}

.content-table thead tr th {
    font-weight: bold;
}
.content-table thead {
    border-radius: 2px;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #D9E5EC ;
    line-height: 130%;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}